<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090223996114-v588v7h0e9e8bp788itkti4dend3mjoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090223996114-v588v7h0e9e8bp788itkti4dend3mjoe</string>
	<key>API_KEY</key>
	<string>AIzaSyDGMxzrQrg7zyQSsaeBZraiaZqayXJNXds</string>
	<key>GCM_SENDER_ID</key>
	<string>1090223996114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UNH.Authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-c4408</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-c4408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090223996114:ios:6d3abba487ac374136010b</string>
	<key>DATABASE_URL</key>
	<string>https://authentication-c4408.firebaseio.com</string>
</dict>
</plist>